[Unit]
Description=GlusterFS Mount {{ gluster_volume.label }}
After=glusterd.service
Requires=glusterd.service

[Mount]
What=localhost:/{{ gluster_volume.label }}
Where=/mnt/gluster/{{gluster_volume.label }}
Type=glusterfs
Options=defaults,_netdev

[Install]
WantedBy=multi-user.target