[Unit]
Description=GlusterFS Mount {{ item.key }}
After=glusterfs-server.service
Requires=glusterfs-server.service

[Mount]
What=localhost:/{{ item.key }}
Where=/mnt/gluster/{{item.key }}
Type=glusterfs
Options=defaults,_netdev

[Install]
WantedBy=multi-user.target

